# Package

-e .[image]

# Testing
autoflake
black
isort
mypy
pytest
pytest-cov
requests

# Example
aiofiles
python-multipart
uvicorn
git+https://github.com/accent-starlette/starlette-core.git@master#egg=starlette-core
